
:root
{
  --clr-primary-400: hsl(12, 88%, 59%);
  --clr-primary-100: hsl(13, 100%, 96%);

  --clr-secondary-400: hsl(228, 39%, 23%);
  --clr-secondary-300: hsl(228, 39%, 23%);
  --clr-secondary-100: hsl(227, 12%, 61%);

  --clr-accent-400: ;
  --clr-accent-100: ;

  --clr-neutral-400: ;
  --clr-neutral-100: hsl(0, 0%, 98%);


  --ff-primary: "", "sans serif";
  --ff-secondary: "", "sans serif";

  --ff-body: var(--ff-primary);
  --ff-heading: serif;

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;


  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 2.5rem;
  --fs-900: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);

}

@media (min-width: 50em) {

  :root
  {
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
  
}


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /* Utilities classes */

  .text-primary-400 { color: var(--clr-primary-400); }
  .text-primary-100 { color: var(--clr-primary-100); }
  .text-secondary-400 { color: var(--clr-secondary-400); }
  .text-secondary-300 { color: var(--clr-secondary-300); }
  .text-secondary-100 { color: var(--clr-secondary-100); }
  .text-neutral-100 { color: var(--clr-neutral-100); }

  .bg-primary-400 { background-color: var(--clr-primary-400); }
  .bg-primary-100 { background-color: var(--clr-primary-100); }
  .bg-secondary-400 { background-color: var(--clr-secondary-400); }
  .bg-secondary-300 { background-color: var(--clr-secondary-300); }
  .bg-secondary-100 { background-color: var(--clr-secondary-100); }
  .bg-neutral-100 { background-color: var(--clr-neutral-100); }


  .fw-regular { font-family: var(--fw-regular); }
  .fw-semibold { font-weight: var(--fw-semibold);}
  .fw-bold { font-weight: var(--fw-bold);}

  .fs-primary-heading { font-size: var(--fs-primary-heading);}
  .fs-secondary-heading { font-size: var(--fs-secondary-heading);}
  .fs-nav { font-size: var(--fs-nav);}
  .fs-button { font-size: var(--fs-button);}

  .fs-300 { font-size: var(--fs-300);}
  .fs-400 { font-size: var(--fs-400);}
  .fs-500 { font-size: var(--fs-500);}
  .fs-600 { font-size: var(--fs-600);}