
:root
{
  --clr-primary-400: hsl(12, 88%, 59%);
  --clr-primary-300: hsl(12, 88%, 76%);
  --clr-primary-100: hsl(13, 100%, 96%);

  --clr-secondary-400: hsl(233, 12%, 13%);
  --clr-secondary-300: hsl(228, 39%, 23%);
  --clr-secondary-100: hsl(227, 12%, 61%);
/* 
  --clr-accent-400: ;
  --clr-accent-100: ;

  --clr-neutral-400: ; */
  --clr-neutral-100: hsl(0, 0%, 98%);


  --ff-primary: "Be Vietnam Pro", "sans serif";
  --ff-secondary: "Be Vietnam Pro", "sans serif";

  --ff-body: var(--ff-primary);
  --ff-heading: serif;

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;


  --fs-300: .8125rem;
  --fs-400: .875rem;
  --fs-500: 1rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 2.5rem;
  --fs-900: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-300);


  --size-100: .25rem;
  --size-200: .50rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 5rem;
  --size-1000: 8rem;
}

@media (min-width: 50em) {

  :root
  {
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-body: var(--fs-500);
    --fs-nav: var(--fs-300);
  }
  
}


  /* Utilities classes */

.text-primary-400 { color: var(--clr-primary-400); }
.text-primary-100 { color: var(--clr-primary-100); }
.text-secondary-400 { color: var(--clr-secondary-400); }
.text-secondary-300 { color: var(--clr-secondary-300); }
.text-secondary-100 { color: var(--clr-secondary-100); }
.text-neutral-100 { color: var(--clr-neutral-100); }

.bg-primary-400 { background-color: var(--clr-primary-400); }
.bg-primary-100 { background-color: var(--clr-primary-100); }
.bg-secondary-400 { background-color: var(--clr-secondary-400); }
.bg-secondary-300 { background-color: var(--clr-secondary-300); }
.bg-secondary-100 { background-color: var(--clr-secondary-100); }
.bg-neutral-100 { background-color: var(--clr-neutral-100); }


.fw-regular { font-family: var(--fw-regular); }
.fw-semibold { font-weight: var(--fw-semibold);}
.fw-bold { font-weight: var(--fw-bold);}

.fs-primary-heading 
{ 
  font-size: var(--fs-primary-heading);
  line-height: 1.2;
}
.fs-secondary-heading 
{ 
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}
.fs-nav { font-size: var(--fs-nav);}
.fs-button { font-size: var(--fs-button);}

.fs-300 { font-size: var(--fs-300);}
.fs-400 { font-size: var(--fs-400);}
.fs-500 { font-size: var(--fs-500);}
.fs-600 { font-size: var(--fs-600);}

.padding-block-700 { padding-block: var(--size-700);}
.padding-inline-700 { padding-block: var(--size-700);}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:where(.flow :not(:first-child))
{
  outline: 1px solid lime;
  margin-top: 1rem;
}

body
{
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-secondary-400)
}

header
{
  margin-block: 3rem;
}

.nav-wrapper
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list
{
  display: flex;
  gap: var(--size-700);
  list-style: none;
}

.nav-link
{
  color: var(--clr-secondary-400);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus
{
  color: var(--clr-primary-400);
  font-weight: var(--fw-semibold);
}

.mobile-nav-toggle
{
  display: none;
}

@media (max-width: 60em) {
 
  .primary-navigation
  {
    display: none;
    padding: var(--size-900) var(--size-800);
    inset: var(--size-900) 2rem auto;
    background-color: white;
    border-radius: var(--size-100);
    box-shadow: 0 0 .75em rgb(0, 0, 0, 0.05), 0 0 0 1000vmax rgb(0 0 0 /.25);
  }

  .header__btn
  {
    display: none;
  }

  .nav-list
  {
    display: grid;
    padding-inline: 0;
    text-align: center;
    gap: var(--size-600);
  }

  .primary-navigation[data-visible]
  {
    display: block;
    position: absolute;
    font-weight: var(--fw-bold);
  }

  .icon-close
  {
    display: none;
  }

  .mobile-nav-toggle
  {
    display: block;
    cursor: pointer;
    border: none;
    padding: .5em;
    background-color: transparent;
  }
}







.container
{
  --max-width: 1110px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin: auto;
}

.even-columns 
{
  display: grid;
  gap: 1em;
  border: 1px solid salmon;
}

.button
{
  border: none;
  cursor: pointer;
  padding: 1.5em 2.5rem;
  line-height: 1;
  text-decoration: none;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  border-radius: 100vmax;
  color: var(--clr-neutral-100);
  box-shadow: 0 1em 1em -1em var(--clr-primary-300);
  background-color: var(--clr-primary-400);
}

button[data-type="inverted"]
{
  background-color: white;
  color: var(--clr-primary-400);
}

.button:hover,
.button:active,
.button:focus-visible
{
  background-color: var(--clr-primary-300);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:active,
.button[data-type="inverted"]:focus-visible
{
  background-color: white;
}










@media (min-width: 50em) {
  .even-columns
  {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}